<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Navbar -->
<nav>
    <h2>HealthCare+</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<!-- About Section -->
<div class=" head"><h1>About This Project</h1></div> 
<div class="container">
    

    <div class="card">
        <p>
            This Smart Healthcare System is designed to provide instant health analysis 
            using a rule-based AI approach.
        </p>

        <p>
            Users can input basic health parameters like blood pressure, oxygen level, 
            sugar level, and pulse rate.
        </p>

        <p>
            The system analyzes the data and provides meaningful health suggestions 
            to help users take better decisions.
        </p>
    </div>
     <div class="card">
        <p>

At [Healthcare+], we make healthcare simple and easy to understand.<br><br>

Our platform helps you analyze medical reports and provides clear insights along with <br>personalized health suggestions.<br><br>

We focus on helping you make better health decisions while keeping your data safe and secure.<br><br>

Our mission is to empower you with the knowledge to take control of your health.s.
        </p>
    </div>

    
</div>

<!-- Footer -->
<footer>
    <p> Healthcare+ | Built for Major Project by CSE Student</p>
</footer>

</body>
</html>