<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Navbar -->
<nav>
    <h2>HealthCare+</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<!-- Contact Section -->
<div class="container1">
    <h1>Contact Us</h1>

    <form class="card">
        <input type="text" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email" required>
        <textarea placeholder="Your Message" required></textarea>
        <button type="submit">Send Message</button>
    </form>
</div>
<p>Have questions or need assistance?<br>
Feel free to contact us . Our team is here to help and will respond as soon as possible.</p>

<!-- Footer -->
<footer>
    <p> Healthcare+ | Built for Major Project by CSE Student</p>
</footer>

</body>
</html>