<!DOCTYPE html>
<html>
<head>
    <title>Healthcare+</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Navbar -->
<nav>
    <h2>HealthCare+</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
    </div>
</nav>

<!-- Hero Section -->
<div class="hero">
    <h1>Smart Healthcare System</h1>
    <p>Analyze your health instantly using AI-based suggestions</p><br><br>
    <a href="/services" class="btn">Check Your Health & More</a>
</div>
<br>

<!-- Features Section -->
<div class="features">
    <div class="card">
        <h3>🧠 AI Analysis</h3>
        <p>Get instant health suggestions using rule-based AI.</p>
    </div>

    <div class="card">
        <h3>⚡ Fast Results</h3>
        <p>Analyze your reports within seconds.</p>
    </div>

    <div class="card">
        <h3>💙 Easy to Use</h3>
        <p>Simple interface for everyone.</p>
    </div>

    <div class="card">
        <h3>🔍 Find doctor</h3>
        <p>Anywere search by Practo</search></p>
    </div>
</div>
<br>
<br>
<br>
<div class="home-section">

  <!-- LEFT CONTENT -->
  <div class="home-text">
    <h2>Taking care of your health should not be complicated.</h2>
    <p>Our platform is designed to make healthcare simple and accessible by helping you understand your medical reports with ease.<br> Instead of struggling with complex medical terms, you get clear and meaningful insights that guide you toward better health decisions.<br><br>

We use smart technology to analyze your health data and provide personalized suggestions based on your reports. Whether it’s<br> identifying potential risks or offering preventive tips, our goal is to support you in maintaining a healthier lifestyle and staying informed<br> about your well-being.<br><br>

Our system is built with a focus on accuracy, speed, and user privacy. Your data is securely handled and never shared without your consent. <br>You can confidently upload your reports and receive reliable insights within seconds.<br><br>

Start your journey toward better health today. With simple tools and intelligent analysis, you can take control of your health and make informed <br>decisions for a healthier future.</p>
  </div>

  <!-- RIGHT SIDE (YOUR RED BOX AREA) -->
  <div class="gov-links">
    <h3>Government Health Links</h3>

    <a href="https://www.nhp.gov.in/" target="_blank">National Health Portal</a>
    <a href="https://www.mohfw.gov.in/" target="_blank">Ministry of Health</a>
    <a href="https://abdm.gov.in/" target="_blank">Ayushman Bharat</a>
    <a href="https://www.who.int/" target="_blank">WHO Website</a>
  </div>

</div>
 <a href="/logout" class="btn" >Logout</a>

<!-- Footer -->
<footer>
    <p> Healthcare+ | Built for Major Project by CSE Student</p>
</footer>

</body>
</html>