<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <h2>HealthCare+</h2>
</nav>

<div class="container1">
    <h1>Create Account</h1>

    <form method="POST" class="card">
        <input type="text" name="username" placeholder="Choose Username" required>
        <input type="password" name="password" placeholder="Choose Password" required>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account?</p>
    <a href="/login" class="btn">Login</a>
</div>

</body>
</html>